html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccebe9;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: small;
}

p {
  margin: 0;
  font-size: x-small;
}

.box {
  width: 20rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 5%;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
  gap: 30px;
}

.product {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 50px;
}

.desc_product {
  display: flex;
  flex-direction: column;
}

.stock {
  background-color: #5FD068;
  width: 60px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
}

.quantity_box_input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input{
  width: 30px;
  height: 30px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
