body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(240, 240, 240, 0.508);
}

#principal {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    gap: 2%;
}

.sous-div {
    width: 30%;
}

.sous-sous-div {
    width: 50%;
}

.sous-sous-sous-div {
    width: 30%;
}

#info-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#nav-bar {
    background-color: white;
    margin-top: 5%;
    border-radius: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 20%;

}

#memoji {
    width: 20%;
    background-color: #FDD7AA;
    border-radius: 50%;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-left: 5%;
    margin-bottom: 4%;
}

.paragraphe-nom {
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 90%;
}

.paragraphe-mail {
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 70%;
    color: rgb(168, 166, 166);
}

#pdf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.bloc {
    background-color: white;
    border-radius: 25px;
    padding-top: 2%;
    padding-bottom: 20%;

}

#drag-file {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #86c6f486;
    border-radius: 15px;
    border: 2.5px dashed #86C6F4;
    color: white;
    padding: 3%;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.button {
    color: white;
    background-color: #86C6F4;
    font-family: 'Poppins', sans-serif;
    border: #86C6F4;
    border-radius: 10px;
    padding: 3%;
    width: 40%;
}

/* .button:hover {
    color: #86C6F4;
    background-color: rgba(240, 240, 240, 0.508);
    font-family: 'Poppins', sans-serif;
    border: white;
    border-radius: 10px;
    padding: 3%;
    width: 40%;
} */

p {
    font-size: 70%;
}

.upload {
    width: 15%;
}

h4 {
    font-weight: normal;
}

.document-convert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgba(240, 240, 240, 0.508);
    border-radius: 10px;
    padding: 1%;
    margin-top: 3%;
}

.button-convert {
    color: white;
    background-color: #86C6F4;
    font-family: 'Poppins', sans-serif;
    border: #86C6F4;
    border-radius: 10px;
    padding: 1%;
    width: 15%;
}

#history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

.history-doc {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgba(240, 240, 240, 0.508);
    border-radius: 10px;
    margin-top: 3%;
    padding-left: 5%;
    margin-bottom: 3%;
}

.bloc-history {
    background-color: white;
    border-radius: 25px;
    padding-top: 2%;
    padding-bottom: 42%;

}

.fa-file-pdf,
.fa-file-image,
.fa-file-video,
.fa-file-powerpoint,
.fa-file-audio {
    color: white;
    padding-top: 30%;
    padding-bottom: 30%;
    padding-left: 50%;
    padding-right: 50%;
    border-radius: 10px;
    opacity: 60%;
}

.fa-file-pdf {
    background-color: #DF5E88;
}

.fa-file-image {
    background-color: #344FA1;
}

.fa-file-video {
    background-color: #5AA469;
}

.fa-file-powerpoint {
    background-color: #FF7171;
}

.fa-file-audio {
    background-color: #FFB319;
}

.fa-file-word {
    color: #86C6F4;
}

.paragraphe{
    width: 30%;
}

.paragraphe-mb{
    width: 15%;
    text-align: center;
}