@media (max-width: 720px){
    #home{
        height: auto;
        /* padding-bottom: 100px; */
    }
    .containerHome{
        padding: 0;
        flex-wrap:wrap;
        justify-content: center;
        display: flex;
    }
    #projects{
        height: auto;
        padding-bottom: 100px;
    }
    #about{
        height: auto;
        padding-bottom: 100px;
    }
    #services{
        height: auto;
        padding-bottom: 100px;
    }
    .containerAbout{
        align-items: center;
    }
    .subtitle{
        text-align: center;
        padding: 0;
        font-size: 300%;
    }
    .subcontainerAbout{
        padding: 0;
        flex-wrap:wrap;
        justify-content: center;
        display: flex;
    }
    .text-about{
        padding: 0;
        text-align: center;
    }
    .allCardServices{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
    }
    .allCardProjects{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
    }
  }
  
  @media (max-width: 1008px) {
    .blocnavbar3{
        display: none!important;
    }
    .blocnavbar2{
        gap: 10px;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        height: auto;
        position: relative;
    }
    #home{
        height: auto;
        /* padding-bottom: 100px; */
    }
    .containerHome{
        padding: 0;
        flex-wrap:wrap;
        justify-content: center;
        display: flex;
    }
    #projects{
        height: auto;
        padding-bottom: 100px;
    }
    #about{
        height: auto;
        padding-bottom: 100px;
    }
    #services{
        height: auto;
        padding-bottom: 100px;
    }
    .text-about{
        font-size: 115%;
    }
    .div-text-about{
        width: 50%;
      }
    .allCardServices {
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      gap: 20px;
    }
    .cardService{
      margin-bottom: 20px;
    }
    .allCardProjects {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 20px;
    }
    .cardProject{
      margin-bottom: 20px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:flex;
    }
    .gototop, .arrow-icon{
        display: none;
    }
  }

  @media (max-width: 1070px){
    .blocnavbar1{
       justify-content: center;
       display: flex;
       align-items: center;
    }
    .blocnavbar3{
        display: none;
    }
    .navbar{
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }
  }
  
  @media (max-width: 1325px) {
    #home{
        height: auto;
        /* padding-bottom: 100px; */
    }
    .containerHome{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding-top: 30px;
        padding-bottom: 75px;
    }
    .memoji-home{
        height: 250px!important;
        width: 250px!important;
    }
    .text-banner{
        font-size: 270%!important;
        text-align: center;
        margin-top: 0;
    }
    .subtitle{
        font-size: 270%;
    }
    #projects{
        height: auto;
        padding-bottom: 100px;
    }
    #about{
        height: auto;
        padding-bottom: 100px;
    }
    #services{
        height: auto;
        padding-bottom: 100px;
    }
    .div-text-about{
        width: auto;
      }
    .text-about{
        font-size: 125%;
    }
    .allCardServices {
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      gap: 20px;
    }
    .cardService{
      margin-bottom: 20px;
    }
    .allCardProjects {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 20px;
    }
    .cardProject{
      margin-bottom: 20px;
    }

  }