.containerdemonsite {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 99vw;
  background-color: #f9ceee;
}

/* Loading animation */

.loader-wrapper {
  width: 100px;
  height: 100px;
}

.loader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #f9ceee;
  border-top-color: #92b4ec;
  border-bottom-color: #92b4ec;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.loader-inner {
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation-duration: 2.5s;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* Input */

.search-box {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > input {
  width: 200px;
  padding: 0 10px;
}

.search-box:hover > .icon {
  background: #fff;
}

.icon:hover {
  transform: rotate(360deg) scale(0.8);
}

.inputSearch {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: #000;
}

.icon {
  color: #ffaaa5;
  float: right;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

/* Toggle Button Animation */

#toggle {
  display: none;
}

.button {
  display: inline-block;
  width: 90px;
  height: 35px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.button::after {
  content: url("./assets/sunny-outline.png");
  width: 40px;
  height: 40px;
  background-color: #e03c3c;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -5px;
  left: 0;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: background-color 1s, transform 1s ease-in;
}

#toggle:checked + .button::after {
  content: url("./assets/moon-outline.png");
  background-color: #1f257f;
  transform: translateX(50px) rotate(360deg);
}
